body {
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #191521;
    max-width: 320px;
}
.container {
}
label {
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    display: block;
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid  #776882;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: #776882;
}
input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bold;
}

button {
    background:  #776882;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid  #776882;
    font-weight: bold;
}


button:hover {
    background:  #8F6AE1;
}

#delete-btn {
    background:  white;
    color: #776882;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid  #776882;
    font-weight: bold;
}

#delete-btn:hover {
    background:  #8F6AE1;
    color: white; 
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color:  white;
    text-decoration: none;
}

footer {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  opacity: 0.7;
  font-size: 14px;
  text-align: center;
  margin-top: 60px;
}
footer a {
  color: #CCC1FF;
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
  color:#fb80ce;
}