body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #191521;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid  #776882;
    margin-bottom: 4px;
    background-color: #776882;
}

button {
    background:  #776882;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid  #776882;
    font-weight: bold;
}


button:hover {
    background:  #8F6AE1;
}

#delete-btn {
    background:  white;
    color: #776882;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid  #776882;
    font-weight: bold;
}

#delete-btn:hover {
    background:  #8F6AE1;
    color: white; 
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color:  white;
    text-decoration: none;
}
