body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid  #552586;
    margin-bottom: 4px;
    min-width: 400px;
}

#input-btn {
    background:  #552586;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid  #552586;
    font-weight: bold;
}

#input-btn {
    background:  #552586;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid  #552586;
    font-weight: bold;
}

#input-btn:hover {
    background:  #7e3ff2;
}

#delete-btn {
    background:  white;
    color: #552586;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid  #552586;
    font-weight: bold;
}

#delete-btn:hover {
    background:  #7e3ff2;
    color: white; 
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color:  #552586;
    text-decoration: none;
}
